// 公共样式
// 使用weui+样式框架
@import './weui.min.css';
@import './weuix.min.css';

body {
  background-color: #f8f8f8;
}

p {
  margin: 0;
}

.delMarPad {
  * {
    margin: 0;
    padding: 0;
  }
}

.page_hd {
  padding: 30px 0;

  .page_title {
    margin: 20px 0 20px;
    padding: 10px;
    text-align: center;

    span {
      position: relative;
    }

    span::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: -10%;
      width: 120%;
      height: 2px;
      background-color: #008aff;
    }
  }
}

.page_bd {
  padding: 0 16px;
}

.page__ft {
  margin: 10px 0 64px;
  color: #999;
  line-height: 1.5;
  font-size: 12px;
}

.page__hd,
.page__ft {
  text-align: center;
}

.youth-hd {
  @extend .delMarPad;

  text-align: center;

  padding: 2em 0;

  .youth-hd-title {
    color: #3CC51F;

    font: {
      size: 34px;
      weight: 400;
    }
  }

  .youth-hd-desc {
    color: #888;
    font-size: 14px;
  }
}


.youth-footer {
  margin: 50px 0;
}

.user-img {
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
}

.service-ol {
  padding-right: 24px;
}

.youth-button {
  margin: 50px 15px;
}

.page_body_form {
  margin: 0 15px;
}

.page_button {
  margin-top: 30px !important;
}

.warning-line {
  line-height: 100%;
}

.icon-chengji::before,
.icon-qia1::before,
.icon-dianchi::before,
.icon-dasao::before,
.icon-exam::before,
.icon-chengjifenxi::before,
.icon-jiaoshi::before,
.icon-wsdzb_zbgzt_zzsh_txth::before,
.icon-rili1::before,
.icon-gongjiaoche-::before,
.icon-quanjing::before,
.icon-moreApp::before {
  color: #008aff;
  font-size: 28px;
}
