// 公共样式
// 使用weui+样式框架
@import './weui.min.css';
@import './weuix.min.css';

body {
  background-color: #f8f8f8;
}
p {
  margin: 0;
}

.delMarPad {
  * {
    margin: 0;
    padding: 0;
  }
}


.youth-hd {
  @extend .delMarPad;

  text-align: center;

  padding: 2em 0;

  .youth-hd-title {
    color: #3CC51F;

    font: {
      size: 34px;
      weight: 400;
    }
  }

  .youth-hd-desc {
    color: #888;
    font-size: 14px;
  }
}


.youth-footer {
  margin: 50px 0;
}

.user-img {
  display: block;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 26px;
  height: 26px;
}

.unit {
  visibility: hidden;
}

.service-ol {
  padding-right: 24px;
}

.youth-button {
  margin: 50px 15px ;
}

.page_body_form {
  margin: 0 15px;
}