.page-not {
  height: 60vh;
  padding-top: 50px;
  text-align: center;

  .page-404 {
    margin: 0 {
      top: 20px;
    }

    font: {
      size: 4em;
    }
  }

  .page-not-fou {
    margin-bottom: 30px;
    font: {
      size: 1.3em;
    }
  }
}