.loginSel-box {
  margin: 0 auto;
  padding-top: 50px;
  width: 90vw;
  visibility: hidden;

  .loginSel-card {
    margin: {
      top: 20px;
      bottom: 20px;
    }
  }
}

.ant-card-meta-title {
  line-height: 32px;
}

.recom {
  color: #999;
}
